*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family "omnes-pro", sans-serif
  font-style normal
  font-weight 400
  margin-top 80px
  color: #333

a
  text-decoration none
  color currentColor

header
  position fixed
  width 100%
  top 0
  left 0
  background #ef3f42
  height 80px
  line-height 80px

h1
  font-family "omnes-pro", sans-serif
  font-style normal
  font-weight 600
  padding 0 0 0 20px
  a
    color #fff

.teams
  list-style none
  display flex
  flex-direction column

.team
  border-bottom 1px solid lightgray
  padding 20px
  font-size 18px
  a
    display flex
    flex-direction row
  p
    padding-left 10px

.team-color
  width 25px
  height 25px
  display block
  border-radius 2px
  display inline-block

.team-arrow
  margin-left auto
