*
  margin 0
  padding 0
  box-sizing border-box

html
body
  -webkit-tap-highlight-color transparent

body
  font-family "omnes-pro", sans-serif
  font-style normal
  font-weight 400
  margin-top 80px
  color: #333

a
  text-decoration none
  color currentColor

ul
  list-style none

header
  position fixed
  z-index 1
  width 100%
  top 0
  left 0
  background #ef3f42
  height 80px
  line-height 80px

h1
  font-family "omnes-pro", sans-serif
  font-style normal
  font-weight 600
  font-size 32px
  text-align center
  a
    color #fff
  .back
    position absolute
    top: 25px
    left 20px

h2
  margin-bottom 20px

.teams
  display flex
  flex-direction column

.team
  border-bottom 1px solid #e3e3e3
  font-size 18px
  overflow hidden
  a
    display flex
    flex-direction row
    padding 20px
  p
    padding-left 10px
    max-height 25px

.team-color
  width 25px
  height 25px
  display block
  border-radius 2px
  display inline-block

.team-arrow
  margin-left auto
  font-size 20px
  position relative
  top: -2px
  opacity: 0.8

.schedule-wrapper
  overflow auto
  padding 25px
  h4
    position relative

.schedule-offset
  position absolute
  left 110px
  font-weight 400

.vs
  margin 0 5px
  font-size 13px

.game-details
  width 50px
  display inline-block
  &.active
    color #ef3f42
    font-weight 600

.game
  position relative
  margin 5px 0 15px 0
  border-bottom 1px solid #e3e3e3
  padding-bottom: 10px
